{% load static %}

    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="navbar-brand-full" src="img/brand/logo.svg" width="89" height="25" alt="Red18tech">
        <img class="navbar-brand-minimized" src="img/brand/sygnet.svg" width="30" height="30" alt="Red18tech">
      </a>
      
      <ul class="nav navbar-nav ml-auto">
         <li class="nav-item dropdown">
        <a class="" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-bell d-flex">
            {% if notification_no %}
            <span style="font-size:10px;color:#fff;background:aqua;height:15px;width:15px;border-radius:50%;font-weight:bold;display:flex;align-items:center;justify-content:center;">{{notification_no}}</span>
            {% endif %}
            </i></a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
              <strong>Notifications</strong>
            </div>
            {% if new_budget %}
              {% for budget in new_budget %}
                <a class="dropdown-item" href="{% url 'admin:budgets_budget_change' budget.id %} ">
                  <i class="fa fa-bell-o"></i> {{budget.title}}
                  <span class="badge badge-info">{{budget.amount}} </span>
                </a>
              {% endfor %}
            {% endif %}
          </div>
        </li>
       
        <li class="nav-item dropdown">
        Welcome,<a class="" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {% comment %} <img class="img-avatar" src="img/avatars/6.jpg" alt="{{user.email}}"> {% endcomment %}
            {{user.username|title}}</a>!
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
              <strong>Account</strong>
            </div>
            <a class="dropdown-item" href="#">
              <i class="fa fa-bell-o"></i> Updates
              <span class="badge badge-info">42</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-envelope-o"></i> Messages
              <span class="badge badge-success">42</span>
            </a>
            {% comment %} <a class="dropdown-item" href="#">
              <i class="fa fa-tasks"></i> Tasks
              <span class="badge badge-danger">42</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-comments"></i> Comments
              <span class="badge badge-warning">42</span>
            </a>
            <div class="dropdown-header text-center">
              <strong>Settings</strong>
            </div>
            <a class="dropdown-item" href="#">
              <i class="fa fa-user"></i> Profile</a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-wrench"></i> Settings</a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-usd"></i> Payments
              <span class="badge badge-secondary">42</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-file"></i> Projects
              <span class="badge badge-primary">42</span>
            </a> {% endcomment %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'admin:password_change' %}">
              <i class="fa fa-shield"></i> Change Password</a>
            <a class="dropdown-item" href="{% url 'admin:logout' %}">
              <i class="fa fa-lock"></i> Logout</a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>